.header-container {
  height: 200px;
  background-color: rgb(231, 231, 231);
}
.dashboard-greeting {
  padding-bottom: 20px;
  font-size: 1.8em;
  height: 100%;
  padding-left: 100px;
  display: flex;
  align-items: center;
}
.body-container {
  height: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--body_background);
}
.dashboard-grid {
  width: 65vw;
  margin-top: -40px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 0.2fr 0.2fr 0.3fr 0.3fr;
  grid-gap: 70px;
}
.grid-item {
  color: var(--font_color);
  background-image: var(--div_background_image);
  height: 170px;
  border-radius: 20px;
}
.grid-item-2 {
  color: var(--font_color);
  background-image: var(--div_background_image);
  height: 220px;
  border-radius: 20px;
  grid-row: 2 / 3;
  grid-column: 1 / -1;
}
.grid-item-3 {
  color: var(--font_color);
  background-image: var(--div_background_image);
  height: 400px;
  border-radius: 20px;
  grid-row: 3 / -1;
  grid-column: 1 / -1;
}
.grid-item-title {
  font-size: 1.5em;
  padding-left: 15px;
  padding-top: 10px;
}
.grid-item-2-title {
  font-size: 1.5em;
  padding-left: 20px;
  padding-top: 15px;
}
.grid-item-body {
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grid-item-content {
  font-size: 1.85em;
  padding-left: 70px;
}
.quote-body {
  padding: 25px;
}
.author {
  padding-top: 15px;
  padding-bottom: 25px;
}

.table {
  border: none;
  background-image: var(--div_background_image);
  margin-top: 25px;
}

.delete-button {
  border: none;
  align-self: center;
  color: white;
  background: rgba(0, 0, 0, 0.903);
  border-radius: 10px;
  width: 70px;
  height: 28px;
}

.edit-button {
  margin-right: 10px;
  border: none;
  align-self: center;
  color: white;
  background: rgba(0, 0, 0, 0.903);
  border-radius: 10px;
  width: 70px;
  height: 28px;
}

.complete-button {
  border: none;
  align-self: center;
  color: white;
  background: rgba(0, 0, 0, 0.903);
  border-radius: 10px;
  width: 120px;
  height: 28px;
}
.dashboard-link {
  text-decoration: none;
}
