.goals-container {
  color: var(--font_color);
  height: 100vh;
  background-color: var(--body_background);
  padding: 50px;
}

th,
td {
  color: var(--font_color);
}

.table {
  color: var(--font_color);
  border: 1px solid black;
  background-color: #ffffe6;
}
