:root {
  --body_background: white;
  --nav_background: white;
  --div_background: white;
  --body_background_image: linear-gradient(
    to right,
    rgb(112, 171, 216),
    rgb(173, 214, 233)
  );
  --nav_background_image: linear-gradient(
    to right,
    rgb(112, 171, 216),
    rgb(173, 214, 233)
  );
  --div_background_image: linear-gradient(
    to right,
    rgb(112, 171, 216),
    rgb(173, 214, 233)
  );
  --font_color: black;
}

[data-theme="dark"] {
  --body_background: #333536e3;
  --nav_background: grey;
  --div_background: grey;
  --nav_background_image: linear-gradient(
    to right,
    rgb(76, 76, 76),
    rgb(119, 119, 119)
  );
  --div_background_image: linear-gradient(
    to right,
    rgb(100, 100, 100),
    rgb(139, 139, 139)
  );
  --font_color: rgb(225, 225, 225);
}

body {
  margin: 0;
  font-family: "Kanit", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
