.workouts-container {
  background-color: var(--body_background);
}

.workouts-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 35px;
  margin-top: 30px;
}

.main-title {
  font-size: 2em;
}

.main-title {
  color: var(--font_color);
}

.workout-card {
  border-radius: 20px;
  background-image: var(--div_background_image);
  color: var(--font_color);
}

.workouts-container {
  padding: 50px;
  height: 100vh;
}

.Modal {
  background-color: green;
  top: 30%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.create-button {
  border: none;
  align-self: center;
  color: white;
  background: rgba(0, 0, 0, 0.903);
  border-radius: 15px;
  width: 150px;
  height: 40px;
}
