.nav-container {
  display: grid;
  grid-template-rows: 0.05fr 0.85fr 0.1fr;
  height: 100vh;
  background-color: var(--nav_background);
  background-image: var(--nav_background_image);
}
.link {
  margin-left: 20px;
  color: var(--font_color);
  text-decoration: none;
  font-size: 1.2em;
}
.nav-icon {
  color: var(--font_color);
}
.nav-middle-content {
  border: 1px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
li {
  margin-left: 10px;
  height: 50px;
  list-style: none;
  display: flex;
}
ul {
  padding: 10px;
}
h3 {
  padding: 10px;
}
.greeting {
  color: var(--font_color);
  margin-bottom: 20px;
}
.logout-button {
  border: none;
  align-self: center;
  color: white;
  background: rgba(0, 0, 0, 0.903);
  border-radius: 15px;
  width: 80%;
  height: 40px;
}
.dark-mode-button {
  margin-top: 20px;
}
