.main-signup-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.signup-container {
  border: 4px solid black;
  border-radius: 40px;
  display: flex;
  width: 1100px;
}

.signup-image-container {
  height: 100%;
  width: 50%;
}

.signup-form-container {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.signup-form {
  width: 60%;
  display: flex;
  flex-direction: column;
}

.signup-image {
  border-top-left-radius: 30px;
  border-bottom-left-radius: 30px;
}

.signup-button {
  font-size: 1.2em;
  color: #fffccc99;
  background: none;
  background-color: rgba(24, 24, 24, 0.674);
}
